<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Aléa</title>
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
</script>
</head>
<body>
<h1> Ceci est un page dont plusieurs éléments sont générés aléatoirement. </h1>
<p> Le lancé de dé a obtenu le résultat : {{dé}} </p>
<P> On souhaite développer : ${{ expression_de_départ }}$ </P>
<p> Le résultat est  $${{ résultat }}$$  </p>
</body>
</html>